<div class="modal fade" id="addLibraryModal" tabindex="-1" role="dialog" aria-labelledby="addLibraryModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createLibraryModalLabel">Create library</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createLibraryForm">
                    <div class="form-group">
                        <label for="libraryName">Library name</label>
                        <input type="text" class="form-control" id="libraryName" required>
                    </div>
                    <button id="add-library-btn" onclick="" type="button" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>