@model List<MyBooks.Models.Library.LibrarySidebarVM>

<div class="card shadow-lg">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Your Libraries</h5>
        <button class="btn btn-primary btn-sm" onclick="openCreateLibraryModal()">Create Library</button>
    </div>
    <div class="list-group list-group-flush libraries">
        @foreach (var library in Model)
        {
            <a id="@library.PublicId" href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center library-button">
                @library.Name
            </a>
        }
    </div>
</div>